## Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [10]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [41]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

In [42]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [44]:
soup = BeautifulSoup(data,"html.parser")

In [46]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [48]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

26

Assume that we are looking for the `10 most densly populated countries` table, we can look through the tables list and find the right one we are look for based on the data in each table or we can search for the table name if it is in the table but this option might not always work.

In [49]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

See if you can locate the table name of the table, `10 most densly populated countries`, below.

print(tables[table_index].prettify())

In [52]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank           Country   Population     Area Density
0    1         Singapore    5,704,000      710   8,033
1    2        Bangladesh  171,980,000  143,998   1,194
2    3  \n Palestine\n\n    5,266,785    6,020     847
3    4           Lebanon    6,856,000   10,452     656
4    5            Taiwan   23,604,000   36,193     652
5    6       South Korea   51,781,000   99,538     520
6    7            Rwanda   12,374,000   26,338     470
7    8             Haiti   11,578,000   27,065     428
8    9       Netherlands   17,680,000   41,526     426
9   10            Israel    9,450,000   22,072     428

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

Using the same `url`, `data`, `soup`, and `tables` object as in the last section we can use the `read_html` function to create a DataFrame.

Remember the table we need is located in `tables[table_index]`

We can now use the `pandas` function `read_html` and give it the string version of the table as well as the `flavor` which is the parsing engine `bs4`.

In [53]:
pd.read_html(str(tables[5]), flavor='bs4')

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   171980000     143998              1194
 2     3    Palestine     5266785       6020               847
 3     4      Lebanon     6856000      10452               656
 4     5       Taiwan    23604000      36193               652
 5     6  South Korea    51781000      99538               520
 6     7       Rwanda    12374000      26338               470
 7     8        Haiti    11578000      27065               428
 8     9  Netherlands    17680000      41526               426
 9    10       Israel     9450000      22072               428]

The function `read_html` always returns a list of DataFrames so we must pick the one we want out of the list.

In [54]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171980000     143998              1194
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17680000      41526               426
9    10       Israel     9450000      22072               428

## Scrape data from HTML tables into a DataFrame using read_html

In [55]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [56]:
# We can see there are 26 DataFrames just like when we used `find_all` on the `soup` object.

len(dataframe_list)

26

Finally we can pick the DataFrame we need out of the list.

In [57]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171980000     143998              1194
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17680000      41526               426
9    10       Israel     9450000      22072               428

We can also use the `match` parameter to select the specific table we want. If the table contains a string matching the text it will be read.

In [58]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171980000     143998              1194
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17680000      41526               426
9    10       Israel     9450000      22072               428

# Another Example of Scraping DataFrame from a Webpage

In [59]:
url = "https://en.wikipedia.org/wiki/List_of_most-polluted_cities_by_particulate_matter_concentration"

In [60]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [61]:
# We can see there are 2 DataFrames 
len(dataframe_list)

2

In [66]:
# DataFrame of our interest

dataframe_list[0]

,Position,Country,City/Town,Year,PM2.5,Temporal coverage,PM10,Temporal coverage.1,Database version (year)
0,1,India,Kanpur,2016,173,>75%,319,NaN,2018
1,2,India,Faridabad,2016,172,>75%,316,NaN,2018
2,3,India,Gaya,2016,149,50% -< 75%,275,NaN,2018
3,4,India,Varanasi,2016,146,>75%,260,NaN,2018
4,5,India,Patna,2016,144,>75%,266,NaN,2018
...,...,...,...,...,...,...,...,...,...
495,496,Poland,Lublin,2016,27,>75%,31,>75%,2018
496,497,Poland,Siedlce,2016,27,>75%,29,>75%,2018
497,498,Poland,Trzebinia,2016,27,>75%,35,>75%,2018
498,499,El Salvador,San Salvador,2016,27,50% -< 75%,59,NaN,2018
499,500,Turkey,Sivas,2016,27,>75%,56,>75%,2018

In [64]:
dataframe_list[1]

,".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vtePollution",".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vtePollution.1"
0,Air,Acid rain Air quality index Atmospheric disper...
1,Biological,Biological hazard Genetic pollution Introduced...
2,Electromagnetic,Light Ecological light pollution Overilluminat...
3,Natural,Ozone Radium and radon in the environment Volc...
4,Noise,Transportation Land Water Air Rail Sustainable...
5,Radiation,Actinides Bioremediation Fission product Nucle...
6,Soil,Agricultural pollution Herbicides Manure waste...
7,Soild waste,Biodegradable waste Brown waste Electronic was...
8,Space,Satellite
9,Thermal,Urban heat island
10,Visual,Air travel Clutter (advertising) Traffic signs...
11,War,Chemical warfare Herbicidal warfare (Agent Ora...
12,Water,Agricultural wastewater Biological pollution D...
13,Topics,Pollutants
14,Responses,Cleaner production Industrial ecology Pollutio...
15,Lists,Diseases Law by country Most polluted cities T...
16,Categories (By country) Commons WikiProject En...,Categories (By country) Commons WikiProject En...